**# Multiple Linear Regression :**

In [1]:
import pandas as pd
df = pd.read_csv('age2.csv')
df.head(10)

   Age  Degrees  Income
0   50        5    5000
1   60        3    4500
2   10        1    7000
3   20        2    6000
4   40        7    3500
5   80        9    2000

In [3]:
X = df[['Age', 'Degrees']]
y = df['Income']

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=10)

In [11]:
X_train

   Age  Degrees
0   50        5
3   20        2
4   40        7
1   60        3

In [10]:
X_test

   Age  Degrees
2   10        1
5   80        9

In [8]:
 y_train

0    5000
3    6000
4    3500
1    4500
Name: Income, dtype: int64

In [9]:
 y_test

2    7000
5    2000
Name: Income, dtype: int64

In [12]:
from sklearn.linear_model import LinearRegression
clf = LinearRegression()

In [14]:
clf.fit(X_train, y_train)
clf.predict(X_test)

array([6555.55555556, 2314.81481481])

In [15]:
clf.score(X_test, y_test)

0.9762688614540466

In [16]:
clf.coef_

array([ -20.37037037, -351.85185185])

In [17]:
clf.intercept_

7111.11111111111

In [18]:
clf.predict([[25,2]])

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([5898.14814815])